/*orange color: #e99a33*/
/*grey color: #2b2b2b*/

/* ******************************* */
/* ******** GENERAL STUFF ******** */
/* ******************************* */

html {
  background-color: #2b2b2b;
}

body {
  background-color: #2b2b2b;
  cursor: default;
}

body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

video {
position: absolute;
top: 0;
left: 0;
z-index: 0;
width: 100%;
height: 100%;
overflow: hidden;
-webkit-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}

.standartButton {
  margin: 20px auto;
  min-width: 150px;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 800;
}

button:hover,
.box:hover {
  cursor: pointer;
}

/* ************************ */
/* ******** HEADER ******** */
/* ************************ */

#header {
  display: none;
  position: fixed;
  top: -100px;
  width: 100%;
  height: 100px;
  max-height: 100px;
  z-index: 2;
  color: #eee;
  background-color: rgba(43, 43, 43, 0.3);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; 
}

#scoreLine p {
  display: inline;
  font-size: 3.5rem;
}

#setScore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

#scoreLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  /* font size adjusted in headerStyler.js */
}

#headerMenu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerMenu button {
  margin: 0 1vw;
  border: 1px solid rgba(233, 154, 51, 0.5);
  padding: 0.8vw 0;
  border-radius: 20px;
  font-weight: 800;
}

/* ******** arrows ******* */

#arrowContainer {
  text-align: center;
}

#arrowDown,
#arrowUp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #e99a33;
  font-size: 5vmin;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#arrowDown:hover,
#arrowUp:hover {
  cursor: pointer;
  font-size: 6vmin;
  color: orange;
  opacity: 1;
}

#arrowDown {
  top: 100%;
}

#arrowUp {
  display: none;
}

#multipleArrows {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

#arrowLeft,
#arrowRight {
  display: none;
  font-size: calc(.3rem + .8vw);
  color: #e99a33;
  opacity: 0.7;
  z-index: 2;
  transition: opacity .3s, color .3s, maring-right 1s, margin-left 1s;
}

#arrowLeft:hover,
#arrowRight:hover {
  color: orange;
  opacity: 1;
  cursor: pointer;
}


/* ************************** */
/* ******** PLAYAREA ******** */
/* ************************** */

#playarea {
  display: none;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100vw;
  height: 100vh;
background-image: url("../img/white_background.png");
background-position: center;
background-repeat: no-repeat;
-webkit-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}

.box {
z-index: 1;
  width: auto;
  height: auto;
  margin: 5px;
  font-size: 1.2rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.front,
.back {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front {
  color: white;
  background-color: rgba( 0, 0, 0, 0.8 );
  text-align: center;
  letter-spacing: 4px;
}

.back {
  background-size: contain;
  background-position: center;
  background-color: rgba( 0, 0, 0, 0 );
border: 1px solid rgba( 0, 0, 0, 0.1 );
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: default;
}

.cardVideo {
  width: inherit;
  height: inherit;
}

#finnishHolder {
  display: none;
  width: 100vw;
  position: fixed;
  top: 48vh;
  padding-top: .5rem;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: default;
  z-index: 1;
}

.gameoverBtt,
.mainMenuBtt {
  margin: 10px auto;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: 1px solid #2b2b2b;
}

.gameoverBtt:hover,
.mainMenuBtt:hover {
  -webkit-box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
          box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
}

/* ************************* */
/* ******** SETTINGS ******* */
/* ************************* */

#settingsHolder {
min-height: 100vh;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  color: white;
  background-color: #2b2b2b;
}

#headerFSIconHolder {
  position: absolute;
  right: 1vmax;
  top: 1vmax;
}

#settingsFSIconHolder {
  position: fixed;
  right: 1vmax;
  top: 1vmax;
}

#enterFS,
#exitFS {
  font-size: calc(0.5rem + 1vmax);
  color: rgb(230, 230, 230);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#enterFS:hover,
#exitFS:hover {
  font-size: calc(0.5rem + 1.2vmax);
  color: white;
  cursor: pointer;
}

#exitFS {
  display: none;
}

#settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#settings input {
  color: #000;
}

#h2Settings {
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
  background-color: inherit;
}

#icon-sett {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: -0.2rem;
  color: #e99a33;
}

#fileProgress {
margin-top: 20px;
}

#countBarHolder {
width: 50%;
height: 3px;
margin: 0 auto;
border: 1px dotted black;
}

#countBar {
width: 0%;
height: 100%;
background-color: lawngreen;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}

#fileCount {
text-align: center;
font-size: 0.8rem;
cursor: default;
}

#message {
margin: 3vh 0 2vh 0;
text-align: center;
color: darkred;
visibility: hidden;
cursor: default;
}

/* ******** player ******* */

#playerSettings {
  width: 49.5%;
}

#pCountHolder {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#playerCount {
  font-size: 3rem;
  padding-bottom: .3rem;
  cursor: default;
}

#plus_Minus {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .6rem;
}

#plus_Minus button {
  width: 100%;
  padding: .2rem 0 .2rem 0;
}

#plus_Minus button:hover {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

#addPlayerButt:hover {
  color: darkgreen;
}

#removePlayerButt {
  margin-top: .2rem;
}

#removePlayerButt:hover {
  color: darkred;
}

#playerArea {
  width: 320px;
  height: 320px;
  margin: 0 auto;
  border-radius: 20px;
}

.pColor {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem 0 1rem;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.pColor:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
          box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
}

legend {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.player {
  margin: 1rem 0 1rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player span {
  font-size: 1.2rem;
  cursor: pointer;
}

#players input{
  color: white;
  background-color: #2b2b2b;
  font-size: 1.2rem;
}

#players span:hover {
  text-shadow: white 1px 0 5px;
}

/* ******** colorSelector ******* */

#cSelector {
  height: 1.5rem;
  margin-left: 1rem;
}

.selectorColor {
  display: inline-block;
  width: 1.5rem;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.selectorColor:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
          box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
}

#colorPalette {
  width: 100%;
  height: 100%;
  -webkit-transition: color 2s;
  -o-transition: color 2s;
  transition: color 2s;
}

/* ******** file input, file buttons and start button ******* */

input[type="file"] {
  display: none;
}

#fileBttHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fileButtons {
  width: 25vw;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  margin: 2rem auto 0 auto;
  padding: 1rem .5rem;
  color: red;
  text-align: center;
  border: 1px solid red;
  border-radius: 20px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.fileButtons:hover {
  -webkit-box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
          box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
  cursor: pointer;
}

.fileCount {
  font-size: 1.5rem;
}

.fileIconHolders {
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  width: 40%;
  height: 40%;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.fileIconHolders svg {
  width: 100%;
  height: 100%;
}

#startButt {
  color: #2b2b2b;
  background-color: green;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#startButt:hover {
  -webkit-box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
          box-shadow: 2px 2px 6px orange, -2px -2px 6px orange;
  color: orange;
}

#startButt.inactiveStartButt {
  color: darkred;
background-color: #2b2b2b;
cursor: default;
}

#startButt.inactiveStartButt:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*
testing and prototypes
*/

