@media (max-width: 1500px) {
  #arrowDown,
  #arrowUp {
    opacity: 1;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 7/10) {
  .standartButton {
  	margin: 7vh auto;
    font-size: 1.3rem;
}

  #h2Settings {
    margin-top: 6vh;
    font-size: 12vw;
  }

  #fileBttHolder {
    margin: 5vh 0;
    
  }

  .fileButtons {
    width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
  }

  .bttDesc {
    font-size: 2.5vw;
  }

  .fileCount {
    font-size: 4vw;
  }

  #countBarHolder {
    width: 70%;
  }

  #fileCount {
    margin-top: 10px;
    font-size: 2.5vw;
  }

  #playerArea {
    width: 100vw;
    height: auto;
  }

  #playerArea legend {
    margin-bottom: 3vh;
    font-size: 8vw;
  }

  #pCountHolder {
    margin: 0 auto;
  }

  #playerCount {
    font-size: 12vw;
  }

  #plus_Minus {
    margin-top: 0.3rem;
    font-size: 2.5vw;
  }

  .player {
    margin-bottom: 3.5vh;
  }

  #players span,
  #players input {
    font-size: 6vw;
  }

  .pColor {
    width: 6vw;
    height: 6vw;
  }

  #cSelector {
    min-width: 90%;
    height: 6vw;
    margin-left: 1rem;
  }

  .selectorColor {
    width: 6vw;
    height: 6vw;
  }
}