@media (max-width: 1500px) {
  #arrowDown,
  #arrowUp {
    opacity: 1;
  }
}

@media (max-width: 650px) {
    .fileButtons {
        width: 125px;
        height: 125px;
    }
    .bttDesc {
        font-size: 0.8rem;
    }
}

@media (orientation: portrait) and (max-aspect-ratio: 7/10) {
  #orientationMessage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}